.feature-list {
//     display: flex;
    @extend %list;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: calc($set-gap * -1);
    }
}

.feature-list__item {
    @media screen and (max-width: $max-mobile) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $tablet) {
        margin: $set-gap;

        width: calc((100% - 60px) / 2);
    }
}

.feature-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;

    background-color: $color-third-bg;
    border-radius: 4px;
}

.feature-list__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: $max-mobile) {
        text-align: center;
    }
}

.feature-list__descr {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-secondary;
}