.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.page-header__logo {
    color: $color-icon;

    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }
}

.logo__text--highlight {
    color: $color-accent;
}

.page-footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    color: $color-secondary-accent;
}