// Навігація 

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;

    background-color: $color-primary-bg;

    transform: translateY(-101%);
    transition: transform $duration $timing-function;

    &.is-open {
        transform: translateY(0);
    }
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    color: $color-primary;

    background-color: transparent;
    border: none;

    transition: color $duration $timing-function;

    &--close {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover,
    &:focus {
        color: $color-accent;
    }
}

.menu-btn__icon {
    fill: currentColor;
}

// Навігація

.site-nav {
    margin-bottom: auto;
}

.site-nav__list {
    @extend %list;
}

.site-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.site-nav__link {
    display: inline-block;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $color-primary;

    &--current {
        color: $color-accent;
    }

    &:hover,
    &:focus {
        color: $color-accent;
    }
}

// Контакти 

.contacts-list {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;

    @extend %list;
}

.contacts-list__item:not(:last-child) {
    margin-top: 32px;
}

.contacts-list__link {
    display: inline-block;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $color-secondary;

    transition: color $duration $timing-function;

    &--highlight {
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $color-accent;
    }

    &:hover,
    &:focus {
        color: $color-accent;
    }
}

.contacts-list__icon {
    display: none;
}

// Social-network 

.social-networks-list {
    display: flex;
    flex-wrap: wrap;
    @extend %list;
}

.social-networks-list__item {
    // height: 22px;

    &:not(:last-child) {
        margin-right: 9px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.social-networks-list__link {
    display: block;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;   
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $color-accent;
}